.container {
    width: 0;
    height: 0;
    transition: 0.5s;
    overflow: hidden;
    background-color: var(--sidbar-color);
}

.container .user {
background-color: var(--sidbar-color);
    color: var(--white-color);
    height: 64px;
    @apply w-full flex justify-center items-center;
}

.container .user>div {
    @apply flex gap-2;
}

.container .user>div:nth-child(2) {
    @apply gap-4;
}

.container>ul {
    overflow-y: auto;
    min-height: calc(100vh - 64px);
    @apply w-full;
}

.container>ul>li {
    
    color: var(--white-color);
    background-color: var(--sidbar-color);
    transition: 0.3s;
    @apply flex gap-2 p-4 font-normal text-base;
}

.container>ul>li:hover {

    background-color: var(--sidbar-color-2);
    transition: 0.3s;
    @apply flex gap-2 p-4 font-normal text-base;
}
/* CURRENT PATH */
.container>ul>li.active {
    color: var(--white-color);
    @apply font-semibold;
}

/* CURRENT PATH */

.container>ul>li:not(.hasItem):hover {

    @apply cursor-pointer;
}

.container>ul>li.hasItem {
    @apply flex-col gap-0 p-0;
}

.container>ul>li>a {
    @apply w-full;
}

@media screen and (max-width: 767px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {
    .container {
        width: 320px;
        @apply h-auto;
    }
}

@media screen and (min-width: 3840px) {}