@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-1: #833ca4;
  --primary-color-2: #f5ecf8;
  --primary-color-3: #e4d1ee;
  --primary-color-4: #572870;
  --primary-color-5: #bc8bd4;
  --primary-color-6: #5c2d90;
  --primary-color-7: #f9f6fc;
  --white-color: #ffffff;
  --text-color: #000000;
  --secondary-text-color: #a0abbb;
  --grey-color: #e7eaee;
  --grey-color-2: #d0d5dd;
  --grey-color-3: #b8c0cc;
  --grey-color-4: #dbdfe5;
  --grey-color-5: #64748b;
  --grey-color-6: #eceff1;
  --grey-color-7: #7d828e;
  --background-color: #f7f8f9;
  --background-color-2: #e8edfb;
  --error-color-1: #ef4444;
  --error-color-2: #fee2e2;
  --error-color-3: #fef2f2;
  --green-color-1: #059669;
  --green-color-2: #34d399;
  --green-color-3: #10b981;
  --green-color-4: #14ae5c;
  --yellow-color-1: #fef3c7;
  --yellow-color-2: #f9bd23;
  --yellow-color-3: #fbbf24;
  --blue-color-3: #1586d5;
  --sidbar-color: #1c2434;
  --sidbar-color-2: #333a48;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


button,
button[type="button"],
button[type="submit"] {
  background-color: var(--primary-color-1);
  color: var(--white-color);
  @apply font-semibold text-lg py-4 px-5 rounded-lg text-center;
}

button:disabled,
button[type="button"]:disabled,
button[type="submit"]:disabled {
  background-color: var(--grey-color-2);
  color: var(--secondary-text-color);
  cursor: not-allowed;
}

button:focus,
button[type="button"]:focus,
button[type="submit"]:focus {
  box-shadow: none;
  outline: none;
}

input,
textarea {
  min-height: 48px;
  border-color: var(--secondary-text-color);
  background-color: var(--white-color);
  @apply w-full border rounded-md text-lg font-normal px-3 py-2;
}

input::placeholder,
textarea::placeholder {
  color: var(--secondary-text-color);
  @apply font-normal text-lg;
}

input:disabled,
textarea:disabled {
  border-color: var(--grey-color-2);
  background-color: var(--background-color);
  color: var(--secondary-text-color);
  cursor: not-allowed;
}

input:active,
textarea:active {
  border: 1px solid var(--primary-color-1);
  box-shadow: none;
  outline: none;
}

input:disabled:active,
textarea:disabled:active {
  border-color: var(--grey-color-2);
  background-color: var(--background-color);
}

input:focus,
textarea:focus {
  border: 1px solid var(--primary-color-1);
  box-shadow: none;
  outline: 2px solid var(--primary-color-3);
}

.primary[type="button"],
.primary[type="submit"] {
  background-color: var(--primary-color-1);
  color: var(--white-color);
  @apply font-semibold py-4 px-5 rounded-lg text-center;
}

.primary[type="button"]:disabled,
.primary[type="submit"]:disabled {
  background-color: var(--grey-color-2);
  color: var(--secondary-text-color);
  cursor: not-allowed;
}

.secondary[type="button"],
.secondary[type="submit"] {
  border-color: var(--primary-color-1);
  color: var(--primary-color-1);
  background-color: var(--white-color);
  @apply font-semibold py-4 px-5 rounded-lg text-center border;
}

.secondary[type="button"]:disabled,
.secondary[type="submit"]:disabled {
  background-color: var(--white-color);
  color: var(--grey-color-3);
  border: 1px solid var(--grey-color-3);
  cursor: not-allowed;
}

.error[type="button"],
.error[type="submit"] {
  border-color: var(--error-color-1);
  color: var(--error-color-1);
  background-color: var(--white-color);
  @apply font-semibold py-4 px-5 rounded-lg text-center border;
}

.error[type="button"]:disabled,
.error[type="submit"]:disabled {
  background-color: var(--white-color);
  color: var(--grey-color-3);
  border: 1px solid var(--grey-color-3);
  cursor: not-allowed;
}


.ant-drawer-header-title {
  justify-content: end !important;
}