.container {
  width: 100%;
  display: flex;
  z-index: 999;
  position: sticky;
  filter: drop-shadow(0px 1px 0px #e2e8f0);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  background-color: var(--white-color);
  height: 100px;
  top: 0px;
}

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .icons {
    display: none;
  }
  .drawer {
    display: none;
  }
}

@media screen and (min-width: 3840px) {
  .icons {
    display: none;
  }
  .drawer {
    display: none;
  }
}
