.container {
    width: 100%;
    background-color: var(--sidbar-color);
    display: flex;
    flex-direction: column;
}

.nav{
    display: flex;
    flex-direction: column;
    gap:24;
}

.button {
    transition: 0.3s !important;
    color: var(--white-color) !important;
    @apply flex gap-2 p-4 font-normal text-base !important;
}

.button:hover {
    border-radius: 10px !important;
    background-color: var(--sidbar-color-2) !important;
    transition: 0.3s !important;
    @apply flex gap-2 p-4 font-normal text-base !important;
}

