.container {
    height: 68px;
    background-color: var(--grey-color);
    @apply w-full flex justify-center items-center;
}

.container>p {
    color: var(--grey-color-5);
    @apply text-sm text-center font-normal;
}

@media screen and (max-width: 767px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 3840px) {}